@use './colors'
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap')

*, *::before, *::after
  box-sizing: border-box

body
  margin: 0
  font-family: 'Inter', sans-serif
  font-weight: 400
  background-color: colors.$bg
  color: colors.$text
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
